$white: #ffffff;

$theme-colors: (
    "light":      #e7fafa,
    "dark":       #19242b,
    "primary":    #c5cf00,
    "secondary":  #594a4c,
    "info":       #675ae9,
    "success":    #38ae00,
    "warning":    #ffc42b,
    "danger":     #f60056,
);
:root {
    --primary-color: #c5cf00;
    --secondary-color: #594a4c;
    --light-color: #e7fafa;
}

body {
    background-color: var(--light-color);
}

/* Override Bootstrap bg-primary */
.navbar.bg-primary {
    background-color: var(--primary-color) !important;
}

/* Override Bootstrap primary and secondary colors */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary:disabled {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Override Bootstrap primary and secondary button color */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.disabled,
.btn-secondary:disabled {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Override Bootstrap pagination color */
.pagination .page-link {
    color: var(--primary-color);
    background-color: var(--light-color);
    border-color: var(--primary-color);
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

// Define variables for easier customization
$footer-background-color: #f8f9fa;
$footer-padding: 10px;

// Style for the fixed footer
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $footer-background-color; // Use variable for background color
    padding: $footer-padding; // Use variable for padding
    text-align: center;

    // Optionally, nest further styles if needed
}

/* resources/sass/components/_page-loader.scss */
.page-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; // Ensure the loader is above other content
}

.page-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the loader is above other content */
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border-width: 3px 2px 3px 2px;
    border-style: solid dotted solid dotted;
    border-color: var(--primary-color) rgba(255, 255, 255, 0.3) var(--secondary-color) rgba(151, 107, 93, 0.3);
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;

    &:before,
    &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        border: 10px solid transparent;
        border-bottom-color: var(--secondary-color);
        transform: translate(-10px, 19px) rotate(-35deg);
    }

    &:after {
        border-color: var(--primary-color) transparent transparent transparent;
        transform: translate(32px, 3px) rotate(-35deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}





