* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
    font-family: "Merriweather", serif;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    transition: 0.5s;
    color: whitesmoke !important;
}

.nav {
    .nav-link {
        color: #000000;
    }

    .nav-link:hover,
    .nav-item.active > .nav-link {
        color:whitesmoke;
        background-color: var(--bs-primary);
    }
}

.content {
    transition: 0.4s;
}

.active-sidebar {
    margin-left: 0;
}

/* for main section */
.active-content {
    margin-left: 250px;
}

.sidebar-toggle {
    margin-left: -62px;
}


.loader-wrapper {
    background: #fff;
    height: 100vh;
}

.page-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; // Ensure the loader is above other content
}

.page-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the loader is above other content */
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border-width: 3px 2px 3px 2px;
    border-style: solid dotted solid dotted;
    border-color: var(--primary-color) rgba(255, 255, 255, 0.3) var(--secondary-color) rgba(151, 107, 93, 0.3);
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;

    &:before,
    &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        border: 10px solid transparent;
        border-bottom-color: var(--secondary-color);
        transform: translate(-10px, 19px) rotate(-35deg);
    }

    &:after {
        border-color: var(--primary-color) transparent transparent transparent;
        transform: translate(32px, 3px) rotate(-35deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


// Style for the fixed footer
.table.dataTable {
    width: 100% !important;
}

.dataTables_wrapper .row:nth-child(3) > div {
    overflow-x: auto;
}


// Style for the fixed footer
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
